@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Teko:700');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  }

body {
  margin: 0px;
  padding: 0px;
}

.app-container {
  display: grid;
  min-height: 100%;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  grid-template-columns: 100%;
  grid-template-rows: auto, 1fr, auto;
}

.header-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  z-index: 100;
}

.body {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 93.2px);
  background-color: #95b3aa
}

/* --  header --  */
.header {
  height: 100%;
  display: flex;
  flex:start;
  justify-content: space-between;

  font-family: 'Roboto', sans-serif;

  font-weight: bold;
  font-size: 5vh;
  background-color: rgb(249,249,249);
  align-items: center;
}

.header ul {
  list-style-type: none;
  list-style: none;
  height: 100%;
  text-align: center;
  padding:0;
  margin:0;
  overflow: hidden;
}

.header li {
  float: left;
  line-height: 150%;
}

.header a {
  display: block;
  text-decoration: none;
  color: #353839;
}

.header a.active {
  display: block;
  text-decoration: none;
  color: #353839;
}

.header-items {
  width: 15vw;
  text-align: center;
  height: 100%;
  background-color: rgb(148,169,178);
  color: #353839;
}

.header-items:hover {
  color: #272b2e;
}

/* -- -- Footer -- --  */

.footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: sticky;
  height: 50px;

  color: #d4d4d5;
  background-color: #98999a;
  /* margin-top: -50px; */
}

/* -- footer 'The Gear Report' -- */
.footer-middle-inner p {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;

  background-color: #565656;
  color: transparent;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

/* -- footer Donate & FAQ -- */
.footer-right {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  font-weight:bold;
  color: #abbfd3;
  line-height: 180%;
}

.footer-right ul {
  list-style-type: square;
}

.footer-right a {
  position: relative;
  text-decoration: none;
  color: #abbfd3;
}

/* -- footer on hover transitions -- */
.footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #abbfd3;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-right a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.dashboard-container {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  height: auto;
}

.dashboard {
<<<<<<< HEAD
  display: grid;
  grid-column: 4 / 12;
  grid-row: 1 / 15;
  /* height: 80vh; */
=======
    display: grid;
    grid-column: 4 / 12;
    grid-row: 1 / 15;
    /* height: 80vh; */
>>>>>>> 9081e5eff1e9e4ae72b48bbd602746bc692cb4c7
}

.directory {
  grid-column: 1 / 4;
  grid-row: 1 / 15;
  height: 100%;
  position: sticky;
  /* Potential to make position sticky to keep at top */
}

.globe {
<<<<<<< HEAD
  grid-column: 4 / 12;
  grid-row: 1 / 7;
  background-color: brown;
}

.topResolvedTi {
  grid-column: 4 / 8;
  grid-row: 7 / 11;
  background-color: white;
}

.topNewRoutes {
  grid-column: 8 / 12;
  grid-row: 11 / 15;
  background-color: white;
}

.topRoutes {
  grid-column: 4 / 8;
  grid-row: 11 / 15;
  background-color: white;
=======
    grid-column: 4 / 12;
    grid-row: 1 / 7;
    padding: 5%;
}

.topResolvedTi {
    grid-column: 4 / 8;
    grid-row: 7 / 11;
    background-color: white;
    padding-left: 5%;
}

.topNewRoutes {
    grid-column: 8 / 12;
    grid-row: 11 / 15;
    background-color: white;
    padding-right: 5%;
}

.topRoutes {
    grid-column: 4 / 8;
    grid-row: 11 / 15;
    background-color: white;
    padding-left: 5%;
>>>>>>> 9081e5eff1e9e4ae72b48bbd602746bc692cb4c7
}

.topRecentTi {
  display: grid;
  grid-column: 12 / 15;
  grid-row: 1 / 11;
  background-color: white;
  grid-template-columns: auto;
  grid-template-rows: repeat(12, auto)
}

.topRecentTi0 {
<<<<<<< HEAD
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  max-height: 145px;
}

.topRecentTi1 {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  max-height: 145px;
}

.topRecentTi2 {
  grid-column: 1 / 2;
  grid-row: 6 / 8;
  max-height: 145px;
}

.topRecentTi3 {
  grid-column: 1 / 2;
  grid-row: 8 / 10;
  max-height: 145px;
}

.topRecentTi4 {
  grid-column: 1 / 2;
  grid-row: 10 / 12;
  max-height: 145px;
}

.topContribs {
  grid-column: 8 / 12;
  grid-row: 7 / 11;
  background-color: white;
}


.typographyPlaceType {
  /* display: inline; */
  color: red;
=======
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    max-height: 92px;
}

.topRecentTi1 {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    max-height: 92px;
}

.topRecentTi2 {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
    max-height: 92px;
}

.topRecentTi3 {
    grid-column: 1 / 2;
    grid-row: 8 / 10;
    max-height: 92px;
}

.topRecentTi4 {
    grid-column: 1 / 2;
    grid-row: 10 / 12;
    max-height: 92px;
}

.topContribs {
    grid-column: 8 / 12;
    grid-row: 7 / 11;
    background-color: white;
    padding-right: 5%;
>>>>>>> 9081e5eff1e9e4ae72b48bbd602746bc692cb4c7
}

.ticketComponent {
  background-color: rgb(211, 240,250)
}

.actionStack {
  float: right;
}

.action-stack {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tickets-container{
  display: flex;
  height: 100%;
}

.action-button{
  margin: 0.5em;
}

.add-button{
  align-self: flex-end;
  margin: 1em;
}