@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Lato');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  }

body {
    margin: 0px;
    padding: 0px;
}

#app {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.app-container {
    display: grid;
    height: auto;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto, auto;
    background-color: red;
}

.header-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 8vh;
    position: sticky;
    top: 0;
}

.header {
    height: 100%;
    display: flex;
    flex:start;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;

    font-weight: bold;
    font-size: 5vh;
    background-color: rgb(148,169,178);
    align-items: center;
}

.header ul {
    list-style-type: none;
    list-style: none;
    height: 100%;
    text-align: center;
    padding:0;
    margin:0;
    overflow: hidden;
}

.header li {
    float: left;
    line-height: 150%;
}

.header a {
    display: block;
    text-decoration: none;
    color: #353839;
}

.header a.active {
    display: block;
    text-decoration: none;
    color: #353839;
}

.header-items {
    width: 15vw;
    text-align: center;
    height: 100%;
    background-color: rgb(148,169,178);
    color: #353839;
}

.header-items:hover {
    color: #272b2e;
    background-color: #E8E8E8;
}

.footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: green;
    height: 20vh;
}

.body {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: blue;
    height: auto;
}

.dashboard-container {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    background-color: blue;
    height: auto;
}

.dashboard {
    display: grid;
    grid-column: 4 / 12;
    grid-row: 1 / 15;
    /* height: 80vh; */
    background-color: orange;
}

.directory {
    grid-column: 1 / 4;
    grid-row: 1 / 10;
    height: 75vh;
    background-color: pink;

    /* Potential to make position sticky to keep at top */
}

.globe {
    grid-column: 4 / 12;
    grid-row: 1 / 7;
    background-color: brown;
}

.topResolvedTi {
    grid-column: 4 / 8;
    grid-row: 7 / 11;
    background-color: white;
}

.topNewRoutes {
    grid-column: 8 / 12;
    grid-row: 11 / 15;
    background-color: white;
}

.topRoutes {
    grid-column: 4 / 8;
    grid-row: 11 / 15;
    background-color: white;
}

.topRecentTi {
    grid-column: 12 / 15;
    grid-row: 1 / 10;
    background-color: white;
}

.topContribs {
    grid-column: 8 / 12;
    grid-row: 7 / 11;
    background-color: white;
}

.ticketComponent {
    background-color: rgb(211, 240,250)
}
